<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
</head>

<style>
    body {
        text-align: center;
        background-color: lightblue;
    }

    input {
        width: 50%;
        height: 100px;
        font-size: 35px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    button {
        margin: 20px 0;
        width: 30%;
        height: 100px;
        font-size: 20px;
    }
</style>

<body>

<input type="text" placeholder="Введите ссылку" id="inputLink">
<span>Дата начала</span>
<input type="date" placeholder="Введите ссылку" id="startDate">
<span>Дата конца</span>
<input type="date" placeholder="Введите ссылку" id="endDate">

<button onclick="loadPhones()">Сократить ссылку</button>


<script>
    async function loadPhones() {
        let link = document.getElementById("inputLink");
        let startDate = document.getElementById("startDate");
        let endDate = document.getElementById("endDate");

        let match = link.value.match("(https?:\\/\\/)([\\da-z\\.-]+)\\.([a-z\\.]{2,6})([\\/\\w\\.-]*)*\\/?");
        if (!(match != null && match.length !== 0 && match[0] === link.value)) {
            link.value = "Это не ссылка :(";
        } else {
            let json = {
                unShortedLink: link.value,
                startDate: startDate.value,
                endDate: endDate.value
            };

            let domain = "https://dev.agemagic.ru";

            console.log(json);

            let response = await fetch(`${domain}/shortMyLink/`, {
                method: 'POST', // или 'PUT'
                body: JSON.stringify(json), // данные могут быть 'строкой' или {объектом}!
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) { // если HTTP-статус в диапазоне 200-299
                // получаем тело ответа (см. про этот метод ниже)
                let newJson = await response.json();
                console.log(newJson);
                if (newJson.ValidateUrl === "true")
                    link.value = `${domain}/${newJson.shortLink}`;
                else {
                    link.value = `Это не ссылка :(`;
                }
            } else {
                alert("Ошибка HTTP: " + response.status);
            }
        }
    }
</script>

</body>

</html>